<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>


  <header>
{{{body}}}
  </header>

  

  <main>

  </main>

</body>

</html>
